.about {
  &__about,
  &__skills {
    text-align: left;
    h1 {
      text-transform: uppercase;
      font-weight: 300;
      // font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      //   sans-serif;
    }
  }

  & &__list {
    padding-top: 0;
  }

  & &__item {
    margin-top: 0;
  }
}
