@use "./variables" as *;
.footer {
  background: rgba(0, 0, 0, 0.9);
  padding: $spacing-xl 0;
  color: $c-white;

  &__logo {
    margin-bottom: $spacing-lg;
    text-align: center;
  }

  &__link {
    color: $c-white;
    border-color: $c-white;
  }

  &__copyright {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-lg;
  }

  &__copyright-text {
    margin-bottom: $spacing-lg;
    text-align: center;
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__footer-logo {
    width: 64px;
  }

  &__social {
    background: $c-primary;
    margin-left: 8px;
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    transition: $transition;
    color: white;
    text-decoration: none;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      filter: brightness(2);
    }
  }

  @media (max-width: $screen-sm) {
    &__copyright,
    &__socials {
      justify-content: center;
    }
  }
}
