@use "sass:color";
@use "./variables" as *;
.lock {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 2 * #{$spacing-lg});
  padding: $spacing-lg;

  &__form {
    width: initial;
  }

  & &__btn {
    &:hover {
      background: none;
    }
  }

  & &__submit-btn {
    margin-right: -48px;

    &:hover {
      background: none;
      color: color.adjust($c-blue, $lightness: -10%);
    }
  }

  & &__input {
    min-width: 320px;
    padding-right: 48px;
    width: calc(100% - 48px);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin-right: 1em;
  }

  &__logo {
    width: 160px;
  }
}

@media (max-width: $screen-sm) {
  .lock {
    flex-direction: column;
    align-items: flex-start;

    &__form {
      width: 100%;
    }

    &__header {
      display: none;
    }
  }
}
