$c-primary: #282c34;
$c-white: white;
$c-blue: #2196f3;
$c-warning: #ff5722;
$c-grey: #f1f1f1;
$text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);

// Screen size
$screen-sm: 600px;
$screen-md: 960px;

// Spacing
$spacing-default: 8px;
$spacing-md: 2 * $spacing-default;
$spacing-lg: 3 * $spacing-default;
$spacing-xl: 6 * $spacing-default;

// Transition
$transition: all 0.5s ease 0s;

// Shadow
$shadow: 0 0px 50px -25px #0000006b;
