@use "./variables" as *;
.work {
  $self: &;

  &__header {
    color: $c-white;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 2em 0;

    &--design {
      background-color: #85ff9b;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f1ff66'/%3E%3Cstop offset='1' stop-color='%23f1ff66' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2342ffc5'/%3E%3Cstop offset='1' stop-color='%2342ffc5' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23a723ff'/%3E%3Cstop offset='1' stop-color='%23a723ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2385ff9b'/%3E%3Cstop offset='1' stop-color='%2385ff9b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff4747'/%3E%3Cstop offset='1' stop-color='%23ff4747' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
      background-attachment: fixed;
      background-size: cover;
    }
  }

  // .MuiTypography-body1 {
  //   font-size: 1.2rem;
  // }

  .MuiCardHeader-root,
  .MuiCardContent-root {
    padding: 24px;
  }

  .MuiTypography-paragraph {
    margin-bottom: 32px;
  }

  &__logo {
    max-width: 480px;
    padding: $spacing-md 0;
  }

  &__header-content {
    display: flex;
    align-items: center;
    justify-items: center;
  }

  &__header-image-contaniner {
    max-height: 480px;
    box-shadow: $shadow;
    margin: $spacing-xl 0;
    overflow: hidden;
    animation: fade-in 1s;
  }

  &__header-image-contaniner--no-shadow {
    box-shadow: none;
    display: flex;
    justify-content: center;
  }

  &__image-container {
    &--outline {
      background: #ffffff;
      padding: 4px;
      border: 1px solid $c-grey;
    }

    &--spaced {
      #{$self}__image {
        margin: $spacing-lg 0;
      }
    }

    #{$self}__image-caption {
      margin-top: 1.5em;
      text-align: center;
    }
  }

  &__image {
    max-width: 100%;

    &--caption {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &--shadow {
      box-shadow: $shadow;
    }

    &--border {
      border: solid 1px #ddd;
    }

    &--border-radius {
      border-radius: 6px;
    }
  }

  & &__description {
    margin-bottom: $spacing-lg;
  }

  &__attributes {
    margin-top: $spacing-lg;
    border: solid thin rgba(255, 255, 255, 0.75);
    border-right: 0;
    border-left: 0;
  }

  &__h2 {
    margin-top: initial;
    font-weight: 500;

    &--spaced {
      margin-top: 2em !important;
      margin-bottom: 1em !important;
    }
  }

  &__section {
    padding: 4em 0;
  }

  & &__title {
    text-transform: capitalize;
    margin-bottom: 1em;

    &--spaced {
      margin-bottom: 1.5em;
    }
  }

  &__highlight {
    background-image: linear-gradient(
      transparent 0%,
      transparent calc(50% - 6px),
      rgba(0, 255, 149, 0.35) calc(50% - 6px),
      rgba(0, 255, 149, 0.35) 100%
    );
    // background-image: linear-gradient(
    //   transparent 0%,
    //   transparent calc(50% - 6px),
    //   rgba(0, 0, 0, 0.14) calc(50% - 6px),
    //   rgba(0, 0, 0, 0.38) 100%
    // );
    background-size: 100% 200%;
    background-position: 0 0;
    transition: $transition;
    font-weight: 500 !important;

    &:hover {
      background-image: linear-gradient(
        transparent 0%,
        transparent calc(50% - 6px),
        rgba(0, 255, 149, 0.55) calc(50% - 6px),
        rgba(0, 255, 149, 0.55) 100%
      );
      background-position: 0 100%;
      color: inherit;
    }
  }

  &__card {
    &--with-actions {
      display: flex;
      flex-direction: column;
    }

    & &-actions {
      margin: 0 -16px -24px -16px;
      padding: 16px;
      justify-content: space-between;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;

      .MuiTypography-paragraph {
        margin-bottom: 0px;
      }
    }

    & img {
      max-width: 100%;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(424px, 1fr));
    grid-gap: $spacing-lg;
    margin-bottom: $spacing-lg;

    @media (max-width: $screen-md) {
      & {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &--3 {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    &--4 {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }

  &__card-media {
    padding-top: 56.25%;
    height: 0;
  }

  &__blog-title {
    font-weight: bold;
  }

  &__quotes {
    font-style: italic;
    line-height: 1.5em;

    &::before {
      content: '"';
      font-size: 2em;
      font-style: initial;
      font-family: cursive;
      margin-right: 0.2em;
    }
  }

  &__zoomable-image {
    margin-bottom: 4em;
    border: none;
    width: 100%;

    &--caption {
      margin-bottom: 0;
    }
  }

  & .MuiIconButton-root:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  &__tabs {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #23222ec9;
    color: $c-white;
    backdrop-filter: saturate(180%) blur(20px);

    .MuiTab-root,
    .Mui-selected {
      color: $c-white !important;

      &:hover {
        color: $c-white !important;
      }
    }

    .MuiTabs-indicator {
      background-color: $c-white;
    }
  }

  &__header-list {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  &__header-list-icon {
    padding: 16px;
    color: $c-white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    &--primary {
      background: $c-blue;
    }

    &--warning {
      background: $c-warning;
    }

    &--secondary {
      background: $c-primary;
    }
  }

  &__list-icon {
    padding: 4px;
    margin-right: -14px;
    margin-left: -7px;
  }

  &__header-list-content {
    margin-left: $spacing-md;
    padding-right: $spacing-md;
  }

  & &__btn--invert {
    border-color: $c-white;
    color: $c-white;

    &:hover {
      border-color: $c-white;
    }
  }

  &__challenges {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $screen-md) {
    &__challenges {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__center-section {
    display: flex;
    align-items: center;
  }

  &__viz,
  &__hub,
  &__twilio {
    position: relative;
  }

  &__hub-header,
  &__viz-header,
  &__twilio-header {
    margin-bottom: 0;
    color: white;
    min-height: 560px;
    display: flex;
    align-items: center;
    text-shadow: $text-shadow;
    position: relative;
    overflow: hidden;
    padding: 0;
  }

  &__hub-header:before,
  &__viz-header:before,
  &__twilio-header:before {
    width: 150%;
    height: 150%;
    position: absolute;
    top: -65%;
    transform: rotate(-5deg);
    content: "";
    left: -40%;
    z-index: -1;
  }

  &__twilio-header:before {
    background: linear-gradient(to top left, #f22f46, #ad1111);
  }

  &__hub-header:before {
    background: linear-gradient(to top left, #2d920c, #9fcc57);
  }

  &__viz-header:before {
    background: linear-gradient(to top left, #1492a8, #0c7e92);
  }

  &__dot-bg {
    background: url(https://webassets.mongodb.com/_com_assets/cms/13x13-dot-dark@3x-wmem1vevpx.svg)
      repeat 6px;
    background-color: $c-grey;
  }

  &__title-verb {
    color: $c-blue;
  }

  &--twilio {
    #{$self}__attributes {
      border: solid thin rgba(0, 0, 0, 0.65);
      border-right: 0;
      border-left: 0;
    }
  }

  @media (max-width: $screen-md) {
    &__hub-header,
    &__viz-header {
      padding: 4em 0;
    }
  }
}

@keyframes fade-in {
  from {
    transform: translateY(-20%);
  }
}
