@use "./variables" as *;
.work-dialog {
  $self: &;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header {
    &--full-screen {
      background: $c-blue;
      color: $c-white;
    }
  }

  &__section {
    padding: $spacing-md 0;
  }

  &__content {
    #{$self} &--full-screen {
      padding: 0;
    }
  }

  &__dot-bg {
    background: url(https://webassets.mongodb.com/_com_assets/cms/13x13-dot-dark@3x-wmem1vevpx.svg)
      repeat 6px;
    background-color: $c-grey;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(424px, 1fr));
    grid-gap: $spacing-lg;
    margin-bottom: $spacing-lg;

    @media (max-width: $screen-md) {
      & {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &--1 {
      grid-template-columns: repeat(1, 1fr);
    }

    &--3 {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    &--4 {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
}
